@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: "Roboto", sans-serif;
}

body {
        background-color: #faf9f6;
}

.row {
        width: 100%;
        max-width: 1200px;
        padding: 20px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
}

h1 {
        text-align: center;
        padding: 8px;
        margin: 12px;
}

figure {
        max-width: 250px;
        margin-bottom: 16px;
}

img {
        width: 100%;
}

#init,
#calculations,
#stats,
#job-done,
#history {
        border: 1px solid gray;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 16px;
        margin: 4px;
        width: 100%;
        max-width: 500px;
}

.calculations__container {
        display: flex;
        justify-content: space-between;
}

.init__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.feature-color {
        color: #6c63ff;
}

p,
label {
        font-size: 18px;
        margin: 4px;
}

label,
input {
        display: block;
}

input {
        font-size: 18px;
        border-radius: 4px;
        width: 100%;
        max-width: 200px;
        padding: 4px;
}

input:hover {
        border-color: #6c63ff;
}

input:focus {
        border: 3px solid #6c63ff;
}

button {
        width: 100%;
        max-width: 200px;
        padding: 8px;
        margin: 8px 0;
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
        background-color: #6c63ff;
        color: white;
        border: none;
}

button:hover {
        cursor: pointer;
}

.hidden {
        display: none;
}

/* INIT */

.alert {
        color: red;
        font-size: 16px;
        text-align: center;
}

/* JOB DONE */
.message {
        font-size: 24px;
        font-weight: bold;
}

.refresh-message {
        font-style: italic;
        margin-top: 8px;
        color: gray;
}

#job-done button {
        width: 100px;
}

/* CALCULATIONS */

.calculations__left-column div {
        width: 100%;
}

.calculations__right-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        margin: 0 auto;
}

.calculations__right-column p {
        font-size: 24px;
}

.btn__history {
        background-color: gray;
}

/* STATS */
#stats div {
        margin: 4px 0;
        padding: 4px;
}

#stats p:nth-child(1) {
        font-weight: bold;
}

/* HISTORY */
li {
        font-size: 18px;
}

@media (max-width: 426px) {
        h1 {
                margin: 8px 12px;
        }

        #calculations input {
                max-width: 150px;
        }

        #calculations button {
                max-width: 150px;
        }

        #calculations__right-column p {
                font-size: 16px;
        }
}
